{% extends '::default.html.twig' %}

{% block content %}
    <div class="container">
        <section>
            <h1>New Schedule</h1>
            <form method="post" action="{{ url('schedule-create-submit') }}">
                <fieldset>
                    <h2>About Your Event</h2>
                    <label for="name">Name</label>
                    <input name="schedule[name]" id="name" type="text" placeholder="PizzaFest 2042" />

                    <label for="startRange">Start Day</label>
                    <input name="schedule[startDate]" id="startRange" type="date">

                    <label for="endRange">End Day</label>
                    <input name="schedule[endDate]" id="endRange" type="date">

                    <label for="location">Location</label>
                    <input name="schedule[location]" id="location" type="text" placeholder="Minneapolis, MN">

                    <label for="description">Description</label>
                    <textarea
                        name="schedule[description]"
                        id="description"
                        placeholder="A place to gather and eat all the pizza."
                    ></textarea>
                </fieldset>
                <fieldset>
                    <h2>Extra information</h2>
                    <label for="banner">Banner</label>
                    <input name="schedule[banner]" id="banner" type="text" placeholder="http://example.com/wow.jpg">

                    <label for="tags">Tags</label>
                    <input name="schedule[tags]" id="tags" type="text" placeholder="Pizza, Fun">
                </fieldset>
                <button type="submit">Create</button>
            </form>
        </section>
    </div>
{% endblock %}
