{% extends '::default.html.twig' %}

{% block content %}
    <div class="container">
        <section>
            <h1>Style Guide</h1>
            <p>
                Donec rutrum congue leo eget malesuada. Vestibulum ac
                diam sit amet quam vehicula elementum sed sit amet dui.
                Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae; Donec velit neque,
                auctor sit amet aliquam vel, ullamcorper sit amet
                ligula. Nulla porttitor accumsan tincidunt. Praesent
                sapien massa, convallis a pellentesque nec, egestas non
                nisi. Curabitur arcu erat, accumsan id imperdiet et,
                porttitor at sem. Donec rutrum congue leo eget malesuada.
                Quisque velit nisi, pretium ut lacinia in, elementum id
                enim. Pellentesque in ipsum id orci porta dapibus.
                Donec rutrum congue leo eget malesuada.
            </p>
            <p>
                Donec sollicitudin molestie malesuada. Sed porttitor
                lectus nibh. Donec sollicitudin molestie malesuada.
                Donec rutrum congue leo eget malesuada. Vivamus suscipit
                tortor eget felis porttitor volutpat. Sed porttitor
                lectus nibh. Nulla quis lorem ut libero malesuada
                feugiat. Proin eget tortor risus. Proin eget tortor
                risus. Curabitur non nulla sit amet nisl tempus
                convallis quis ac lectus.
            </p>
            <a href="#" class="btn btn-primary">Foo</a>
        </section>
    </div>
{% endblock %}
